/* Reset CSS */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:200;
	margin:auto;
	width: 100%;
}

/*Navigation*/
#AboutMe p
{
	line-height:130%;
}

#Work{
	line-height:130%;
}

h1{
	color: white;
	text-align:center;
	font-size:50px;
	padding-top:20px;
	padding-bottom:20px;
	font-weight:100;
}

nav{
	text-align:right;
	width:100%;
	height:40px;
	background:black;
	z-index:10;
	z-index:1000;
	line-height:40px;
	position:fixed;
	font-size:22px;
	transition: all 1s ease-in-out;
}

nav a{
	height:40px;
	display: inline-block;
	text-decoration: none;
	color:white;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, black 50%, #00aeef 50%);
	padding:0px 10px 0px 10px;
	transition: background-position 0.25s;
}
nav a:first-child{
	float:left;
	margin-left:20px;
}
nav a:last-child{
	margin-right:50px;
}

nav a:hover{
	background-position: 0 -100%;
}

header{
	width:100%;
	text-align:center;
	height:520px;
	background: #6a1b9a;
	background: -webkit-radial-gradient(bottom center, ellipse cover, #6a1b9a -40%,#4a148c 100%); /* Chrome10+,Safari5.1+ */
}

.container{
	position:relative;
	overflow:hidden;
	width:100%;
	height:480px;
	max-width:960px;
	margin:auto;
}
.additional{
	width:100%;
	height:40px;
	line-height: 40px;
	background:#111;
}
.additional p{
	font-size: 24px;
	color:white;
}
#Welcome{
	position:absolute;
	left:50%;
    top: 0px;
    margin: auto;
	width:960px;
	height:480px;
	margin-left:-480px;
	text-align: center
}



/*About Me*/
#AboutMe{
	width:100%;
	height:425px;
	background:#bbb;
}

#AboutMe .container{
	position:relative;
	height:100%;
}

#AboutMe .imgcontainer{
	position:absolute;
	left:5px;
	background-size: 300px 366px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(31, 31, 31, 0.25);
	box-shadow: 2px 2px 5px 1px rgba(31, 31, 31, 0.25);
	top:25px;
	width:300px;
	height:366px;

}

#AboutMe .abouttext{
	overflow:hidden;
	position:absolute;
	left:310px;
	border-radius: 3px;
	top:55px;
	background:white;
	margin-right:5px;
	height:336px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(31, 31, 31, 0.25);
	box-shadow: 2px 2px 5px 1px rgba(31, 31, 31, 0.25);
}

#AboutMe .abouttext .identifier{
	background: #e91e63;
	width:100%;
	height:40px;
}


.content{
	width:90%;
	height:260px;
	margin:auto;
	margin-top:10px;
}

.identifier{
	background: #e91e63;
	width:100%;
	height:40px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	color:white;
	line-height: 40px;
	text-align:center;
	font-size:24px;
}

.selectors{
	position:relative;
}
.selectors li{
	position:relative;
	height:30px;
	color:black;
	font-size:20px;
	line-height:30px;
	text-align:center;
	width:33%;
	float:left;
	top:0px;
	transition: all 0.2s ease-in-out;
}

.selectors li h3{
	position:relative;
	z-index:2;
}

.selectors li .overlay{
	z-index:1;
	height:100%;
	width:100%;
	background:rgba(86,119,252,1);
	position:absolute;
	top:0px;
	transition: all 0.3s ease-in-out;
}


.selectors li:hover{
	background:#F0F0F0;
}


.index{
	z-index:1;
	transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
}

#AboutMe .imgcontainer.img3{
	background-image: url(../images/Moi.jpg);
}
#AboutMe .imgcontainer.img2{
	background-image: url(../images/Moi2.jpg);
}
#AboutMe .imgcontainer.img1{
	background-image: url(../images/Moi3.jpg);
}

.hide{
	display:none;
}



/* Work */
#Work{
	width:100%;
	height:auto;
	background:#aaa;
	padding: 10px 0 10px 0;
	min-height:598px;
}

#Work .container{
	height:auto;
	max-width:1200px;
	min-height:500px;
}

#Work .worktile{
	float:left;
	position:relative;
	width:24.5%;
	height:100%;
	opacity:0;
	margin:0.2%;
	background:white;
	transition: all 0.5s ease-in-out, opacity 0.75s;
}

#Work .worktile .workOverlay{
	position:absolute;
	width:100%;
	text-align:center;
	background:rgba(20,20,20,0.75);
	z-index:3;
	font-size:20px;
	color:white;
	top:85%;
	padding-top:5%;
	height:10%;
}

#Work .worktile img{
	width:100%;
	top:0;
	position:relative;
	z-index:2;
	transition:  -webkit-clip-path 0.5s ease-in-out;
}

#Work .worktile:hover{
	-moz-box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
	-webkit-box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
	box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
	position: relative;
	z-index: 100;
}





#Work .worktile:nth-child(3){2
	clear:right;
}

#Work .worktile .overlay{
	width:100%;
	height:100%;
	z-index:0;
	position:absolute;
	top:0;
	background: #FFF;
	transition: all 0.3s ease-in-out, background 0.55s;
}

#Work .worktile .overlay div{
	display:none;
}

#Work .worktile .overlay .identifier span{
	float:right;
	position:absolute;
	top:0px;
	margin-right:10px;
	right:10px;
}

#Work .worktile .overlay h3{
	color:white;
}

#Work .worktile .overlay .desc{
	margin-top:10px;
	width:45%;
	margin: 10px 1.25% 0 2.5%;
	float:left;
}

#Work .worktile .overlay .images{
	width:45%;
	margin: 10px 2.5% 0 1.25%;
	float:left;
}

/*Contact Me */

#SocialMedia
{
	color:white;
	font-size:20px;
	width:100%;
	height:auto;
	background:#222;
}

#SocialMedia .container
{
	height:auto;
}


#ContactMe{
	color:white;
	font-size:20px;
	width:100%;
	height:auto;
	background:#333333;
}

#SocialMedia .social ul li
{
	float:left;
	width:33%;
	text-align: center;
	transition: all 0.5s ease-in-out;
}

#SocialMedia .social ul li:hover
{
	background: rgba(100,100,100,0.3);
}

#SocialMedia .social ul li img
{
	width:25%;
	height:auto;
}

#ContactMe .container{
	height:auto;
}

#ContactMe .contactsection
{
	float:left;
	width:32%;
	margin: 10px 0.5% 0 0.5%;
	margin-top:20px;
	height:330px;
}

#ContactMe .contactsection h2{
	text-decoration: underline;
	font-size:24px;
	text-align:center;
	margin-bottom:10px;
}

#ContactMe .contactsection p {
	text-align:center;
}

#ContactMe .contactsection form{
	width:80%;
	margin:auto;
}

#ContactMe .contactsection form input {
	width:100%;
	height:30px;
	background:none;
	color:white;
	font-size:16px;
	border:none;
	border-bottom:1px solid #c8c8c8;
	margin-bottom:5px;
}

#ContactMe .contactsection form input::-webkit-input-placeholder {
	color:#686868;
}
#ContactMe .contactsection form input:-moz-input-placeholder {
	color:#686868;
}
#ContactMe .contactsection form input:-ms-input-placeholder {
	color:#686868;
}
#ContactMe .contactsection form textarea::-webkit-input-placeholder {
	color:#686868;
}
#ContactMe .contactsection form textarea:-moz-input-placeholder {
	color:#686868;
}
#ContactMe .contactsection form textarea:-ms-input-placeholder {
	color:#686868;
}


#ContactMe .contactsection form input:focus {
	border-bottom:3px solid #2196f3;
	outline-width:0px;
}

#ContactMe .contactsection form textarea:focus {
	border-bottom:3px solid #2196f3;
	outline-width:0px;
}


#ContactMe .contactsection form textarea {
	width:100%;
	height:30px;
	background:none;
	color:white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	height:100px;
	border:none;
	border-bottom:1px solid #c8c8c8;
	margin-bottom:5px;
}
#map_canvas {
	margin:auto;
    width: 80%;
    padding-bottom: 80%;
    border-radius:50%;
    border:2px solid blue;
}
#ContactMe .contactsection form button {
	width:100%;
}

#ContactMe .contactsection img {
	width:80%;
	margin:auto;
	margin-left:10%;
	margin-left:10%;
}


@media screen and (max-width: 1000px){
	#Work .worktile{
		width:32.8%;
		margin:0.2%;
	}

}

@media screen and (max-width: 500px){
	
	#SocialMedia .social ul li
	{
		float:left;
		width:33%;
		text-align: center;
	}


	#SocialMedia .social ul li:hover
	{
		background: rgba(100,100,100,0.3);
	}

	#SocialMedia .social ul li img
	{
		width:75%;
		height:auto;
	}

	nav{
		text-align:center;
	}
	nav a{
		display: inline-block;
		color:white;
	}
	nav a:first-child{
		display:none;
	}
	nav a:last-child{
		margin-right:0px;
	}
	nav a:hover{
		background-position: 0 -100%;
	}

	header{
		height:480px;
	}

	#Welcome{
		width:100%;
		margin-left:0px;
		left:0px;
	}

	.additional{
		margin-top:-40px;
		width:100%;
		height:40px;
		line-height: 40px;
		background:none;
	}
	.additional p{
		font-size: 24px;
		color:white;
		font-weight:200;
	}

	#AboutMe .imgcontainer{
		display:none;
	}

	#AboutMe{
		height:336px;
	}

	.selectors li{
		float:left;
		display:block;
		width:33%;
	}

	#AboutMe .abouttext{
		top:0px;
		left:0px;
		width:100%;

	}

	#Work .worktile{
		float:none;
		width:300px;
		margin:auto;
		margin-top:5px;
		margin-bottom:5px;
	}
	
	#ContactMe
	{
		padding-top:20px;
	}

	#ContactMe .contactsection{
		float:none;
		width:300px;
		margin:auto;
		height:auto;
		margin-bottom:30px;
	}

}
